.header {
	color: #fff;
	height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.search {
	flex: 1;
	min-width: 10rem;
}

.logo {
	width: 8rem;
}

.logo_image {
	max-width: 100%;
	height: auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
}

.nav_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}

.nav_item {
	list-style-type: none;
}

.nav_item + .nav_item {
	margin-left: 1rem;
}


@media (min-width: 40rem) {
	.header, .nav, .nav_list {
		flex-direction: row;
	}

  }